@{
    ViewBag.Title = "T Levels Results And Certification Service";
}

        <h2> <a href="/Registration/upload" class="govuk-link"> Goto Bulk upload </a> </h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Sign in to submit T Levels registration and results details</h1>

                <p class="govuk-body">Awarding Organisations can use this service to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>confirm which T Levels they are providing</li>
                    <li>send student registration information</li>
                    <li>send student results for technical qualifications</li>
                    <li>check for missing results</li>
                </ul>

                <p class="govuk-body">Providers can use this service to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>confirm student industrial placements</li>
                    <li>confirm student english and maths requirements</li>
                    <li>confirm any additional mandatory requirements</li>
                    <li>check for missing results</li>
                </ul>
            </div>
        </div>
        @if (!Context.User.Identity.IsAuthenticated)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-!-margin-top-2">
                        <a href="@Url.Action("SignIn", "SignIn")" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2" data-module="govuk-button">
                            Start now
                        </a>
                    </div>
                </div>
            </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Before you start</h2>
                <p class="govuk-body">You must be an approved T Levels Awarding Organisation or Provider to use this service.</p>

                <p class="govuk-body">You must have a Department for Education Sign-in account</p>
            </div>
        </div>
        }
